/* Code for the pop-up box  */
* {
    margin: 0;
    padding: 50;
    box-sizing: border-box;
    position: center;
    text-align: center;
    align-items: center;}

body {
    height: 100vh;
    overflow: hidden;
    position: center;
    text-align: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

/* To create the horizontal scroll  */
.wrapper {
    display: flex;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color: #333;
}

/* Basic design for the content  */
.page {
    min-width: 100%;
    height: 100%;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* I used a creative common licensed image of a nice, blue sky for the background image, implying that it is a great day to take a tram trip around Melbourne */
.page_1 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.page_2 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.page_3 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.page_4 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.page_5 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.page_6 {
    background-image: url(img/ocbg.jpg);
    position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

/* Images of Melbourne landmarks. ALso used creative common licensed image, and did a quick photoshop edit to remove the background  */
.l1 {
    background-image: url(img/library.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.l2 {
    background-image: url(img/royal.png);
    width: 100%;
    height: 120%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.l3 {
    background-image: url(img/skydeck.png);
    width: 100%;
    height: 130%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.l4 {
    background-image: url(img/flinders.png);
    width: 100%;
    height: 170%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.l5 {
    background-image: url(img/acmi.png);
    width: 98%;
    height: 160%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.l6 {
    background-image: url(img/aami.png);
    width: 100%;
    height: 140%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

/* So when the users clicks on the pop-up button, the background dims out, helping the users to focus more on the content in the pop-up box  */
#modalDialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

#modalDialog2::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

#modalDialog3::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

#modalDialog4::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

#modalDialog5::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

/* Same but for the tram footer  */
#charaDialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
    text-align: center;
    align-items: center;
}

.modalDialog{
    justify-content: center;
    align-items: center;
    position: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Creating the footer by using a tram image, so the users can "act" as if they are taking a trip around Melbourne on a tram  */
footer {
    background-image: url("img/tram.png");
    background-size: cover;
    text-align: center;
    padding: 80px;
    color: #ffffff;
    position: absolute;
    transform: translateX(-50%);
    right: 15%;
    bottom: 0.5%;
    width: 70%;
    font-size: 22px;
}

/* For some reason I wasn't able to put the pop-up box to appear right in the middle/center of the screen  */