*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Using blue again because I like the colour. Can be seen in my previous assignments and will definitely use blue again in the future assignments.  */
:root{
  --col-01:#081330;
  --col-02:#0e2c88;
  --col-03:#2750d5;
  --col-04:#7e7e7e;
  --col-05:#4b4b4b;
  --border: 1px solid var(--col-02);
}
 
/* Code for the background colour */
body{
  background-color: var(--col-01);
  text-align: center;
}

/* Code for the position and size of the video player */
.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

/* Code for the buttons, needed so the buttons can be overlaid on the video */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  display: none;
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}

#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}

/* I wanted to have more interaction in the buttons, so I decided to use 3 colours for the buttons: idle, hover, and on click, which means that I will use 3 different colours for them */
/* Here are the codes for the different button colours on interaction  */
.video-control-button:hover{
  /* to change the button colour on mouse hover, indicating interaction and feedback */
  background-color: var(--col-04);
}

.video-control-button:active{
  /* to change the button colour on click or holding the button*/
  background-color: var(--col-05);
}

.button-icon{
  pointer-events: none;
}

/* Applying the image for the icons of the buttons */
/* For the icon themselves I used the default icons provided, but I changed the colours to red. Took inspiration from YouTube and since it's a similar project (Video player) */
#playButton{
  background-image: url('./icons/play.svg');
}

#muteButton{
  background-image: url('./icons/mute.svg');
}

#loopButton{
  background-image: url('./icons/loop.svg');
}

#fullscreenButton{
  background-image: url('./icons/fullscreen.svg');
}

/* Code to make the full screen button zoom in on hover, taking example from YouTube FUll screen button interaction*/
.fullscreenButton:hover{
  transition: transform 0.2s;
  transform: scale(1.5);
}


/* Code to costumize the video timeline bar  */
.video-progress-bar{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-05);
  box-shadow: 0 1px 2px var(--col-05) inset;
}
::-moz-progress-bar {
  background-color: var(--col-03);
}

/* Using different colours for the video timeline bar: The total length and the current video progress. Again inspired by YouTube */
::-webkit-progress-bar {
  background-color: var(--col-02);
  box-shadow: 0 1px 2px var(--col-03) inset;
}
::-webkit-progress-value {
  background-color: var(--col-03);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}